{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h3>환영합니다!</h3>
        <p style="font-size: 18px; color: #333;">로그인에 성공하셨습니다.</p>
        <hr>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="signup__button">로그아웃</button>
        </form>
    </div>
</body>
</html>
