/* style.css */
body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;      /* ← 이걸 추가하면 옆으로 안 붙음 */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    margin: 0 auto; /* ← 수평 중앙 정렬 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 550px;

}

.logo h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 0 auto 15px auto;  /*양 옆과 하단 여백*/
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;

   
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

   
}

button:hover {
    background-color: #2563eb;
}
